.다이어리공간 .달력공간 {
    margin: 15px;
    height: 60px;
    border: 3px dotted rgb(220, 220, 220);
    display: flex;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    font-family: 'CookieRun-Regular';
}


.다이어리공간 {
    border: 1px solid rgb(236, 236, 236);
    margin-bottom: 50px;
}

.다이어리박스 {
    position: relative;
    font-family: 'CookieRun-Regular';
    overflow-y: scroll;
    margin: 15px;
    height: 380px;
    width: 520px;
}

.오늘 {
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 14px;
    flex: 0.1;
    margin-left: 20px;
    box-sizing: border-box;
}

.달력 {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    margin-left: 15px;
    font-size: 14px;
}

.평일 {
    color: rgb(0, 0, 0);
    margin-right: 8px;
    width: 20px;
    height: 20px;
}

.토 {
    color: blue;
    margin-right: 8px;
    width: 20px;
    height: 20px;
}
.일 {
    color: red;
    margin-right: 8px;
    width: 20px;
    height: 20px;
}

.제목 {
    font-size:12px;
    color: rgb(89,142,176);
    margin-top: 30px;
    margin-left: 20px;
}

.글 {
    text-align: center;
    margin: 30px 20px;
}

.글 p {
    margin: 5px 20px;
    font-size: 20px;
}

.fa-lock {
  margin-right: 15px;
}

.다이어리버튼 {
  background-color: white;
  padding: 15px;
  border: none;
  border-radius: 10px;
  color: white;
  display: block;
  margin: 20px auto;
}

.다이어리버튼:hover {
  background-color: rgb(243, 12, 12);
  transition: 1200ms;
  cursor: pointer;
}


#secret-box {
display: none;
font-size: 20px;
}