body {
    background-color: #a3a3a3;
    background-image: url("../static/images/pattern.png");
    background-size: 100px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
  
  .bookcover {
    background-color: #b4d1da;
    border-radius: 9px;
    border: 1px solid #738186;
    width: 935px;
    height: 635px;
    margin: 150px auto;
    position: relative;
  }
  
  .선{
    border-radius: 9px;
    border: dashed white;
    position: absolute;
    width: 910px;
    height: 610px;  
    top: 10px;
    left: 10px;
  }
  
  .바탕{
    background-color: rgb(236, 236, 236);
    border-radius: 9px;
    position: absolute;
    width: 865px;
    height: 565px;
    top: 7px;
    left: 7px;
    display: flex;
    padding: 15px;
  }

  