.사진첩{
overflow: auto;
width: 540px;
height: 450px;
flex-direction: column}

.귀칼-제목{
background-color:rgb(223, 223, 223);
margin-bottom: 25px;
padding: 10px;
height: 20px;
}

.귀칼-사진{
margin: 10px;
}

.귀칼-소개{
margin-top: 20px;
margin-left: 10px;
margin-bottom: 100px;}

.원펀-제목{
background-color:rgb(223, 223, 223);
margin-bottom: 25px;
padding: 10px;
height: 20px;}

.원펀-사진{
margin: 10px;
}

.원펀-소개{
margin-top: 20px;
margin-left: 10px;
margin-bottom: 100px;}

.거짓말-제목{
background-color:rgb(223, 223, 223);
margin-bottom: 25px;
padding: 10px;
height: 20px;}

.거짓말-사진{
margin: 10px;
}

.거짓말-소개{
margin-top: 20px;
margin-left: 10px;
margin-bottom: 100px;}