.방명록{
    overflow: auto;
    width: 540px;
    height: 450px;
    font-family:'HS-Regular';
}

.이름상자{
    flex: 0.2;
    background-color:rgb(223, 223, 223);
    margin-bottom: 25px;
    padding: 8px;
    padding-left: 20px;
 }

 .fa-house{
    margin-right: 10px;
  }

.이름강조{
    margin-left: 5px;
    margin-right: 5px;
}


.방명록공간{
    display: flex;
    flex-direction:column;
    margin-bottom: 50px;
}
.방명록상자{
    flex: 0.8;
    display: flex;
    flex-direction: row;
    height: 100px;
}

.프로필사진1{
    flex:0 0 8rem;
    height: 8rem;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.프로필배경1{
    background-image: url("./images/꽃.png");
    width: 30%;
}

.프로필배경2{
    background-image: url("./images/집도트.jpg");
    width: 30%;
}

.프로필배경3{
    background-image: url("./images/다리.gif");
    width: 30%;
}

.프로필사진1>img{width: 80%;}

.프로필글1{
    margin-left: 15px;
    display: flex;
    justify-content:center;
    align-items:center;
}

.노랑{
    font-size: 20px;
    color: rgb(247, 247, 23);
}

.이름강조{
    color: rgb(124, 10, 255);
}

.빨간색{
    color: red;
    font-size:20px;
}